@import './resets';
@import './variables';

// create a map
$font-weights: (
  'regular': 400,
  'medium': 500,
  'bold': 700,
);

body {
  background: $primary-color;
  color: $text-color;
  font-weight: map-get($font-weights, bold);
}

// nesting
.main {
  width: 80%;
  margin: 0 auto;

  #{&}paragraph {
    color: $accent-color;
    font-weight: map-get($font-weights, 'medium');
    transition: all 0.2s ease;

    &:hover {
      color: pink;
    }
  }
}
